@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.img {
  width: 20%;
}
.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  border: 1px solid rgb(250, 114, 3);
  border-radius: 5px;

  display: inline-block;
  font-size: 30;
  color: rgb(250, 114, 3);
  padding: 5px 10px 0px 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.cart {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cart.reminder {
  border-left: 5px solid green;
}

.cart h3,
.cart p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart h1 {
  text-align: center;
  color: blue;
  margin-bottom: -35px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
